@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Diagnostics
@model List<MatchBetting.ViewModels.NifsKampViewModel>?
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var rounds = Model.Select(m => m.round).Distinct();
    var gruppe = Model.Select(x => x.gruppe).Distinct();
    TimeZoneInfo osloTimeZone = TimeZoneInfo.FindSystemTimeZoneById("W. Europe Standard Time");
    var utcNow = DateTime.UtcNow;
    var now = TimeZoneInfo.ConvertTimeFromUtc(utcNow, osloTimeZone);
}

<div class="container">
    <div class="row">
        <!-- Left Logo Column -->
        <div class="col-md-2 text-center">
            <img src="~/img/2026_FIFA_World_Cup_emblem.svg" alt="2026 FIFA World Cup Emblem" class="img-fluid" style="max-width: 100px; height: auto;" />
        </div>
        <!-- Table Column -->
        <div class="col-md-6">
            Gruppespel
            @if (Model != null)
            {
                <!-- Adjust rounds here to remove old tippings -->
                @foreach (var round in rounds.Where(r => r is > 0 and < 4))
                {
                    <h3>Runde @round</h3>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>Dato</th>
                                <th>Heimelag</th>
                                <th class="center">H</th>
                                <th class="center">U</th>
                                <th class="center">B</th>
                                <th>Bortelag</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.Where(m => m.round == round).OrderBy(o => o.date))
                            {
                                //Debug.WriteLine($"Gruppe Value: {item.gruppe}");
                                //In the end of the tournament some sluttspill will appear in rounds due to them also having rounds attributes
                                if (!item.gruppe.Equals("sluttspill"))
                                {
                                    var active = "disabled";
                                    if (item.date.AddHours(-2) >= now) active = "";

                                    <tr>
                                        <td>@item.date.ToString("dd.MM HH:mm")</td>
                                        <td><img src="@item.HomeTeamLogoUrl" alt="Team Logo" width="16" height="16" id="HomeTeamLogo_@item.id">&nbsp;@item.homeTeam</td>
                                        <td class="center"><input type="checkbox" name="cb_@item.id" class="chb_@item.id" data-id="@item.id" value="H" @active/></td>
                                        <td class="center"><input type="checkbox" name="cb_@item.id" class="chb_@item.id" data-id="@item.id" value="U" @active/></td>
                                        <td class="center"><input type="checkbox" name="cb_@item.id" class="chb_@item.id" data-id="@item.id" value="B" @active/></td>
                                        <td><img src="@item.AwayTeamLogoUrl" alt="Team Logo" width="16" height="16" id="AwayTeamLogo_@item.id">&nbsp;@item.awayTeam</td>
                                    </tr>
                                }

                                <script>
                                    $(function() {
                                        $(".chb_@item.id").change(function() {
                                            // If this checkbox is being checked, uncheck all others
                                            if ($(this).prop('checked')) {

                                                var td = $(this).closest('td');
                                                if (!td.hasClass("fade-green")) {
                                                    td.addClass("fade-green");

                                                    // Remove the class after the transition to fade back to original state
                                                    setTimeout(function() {
                                                            td.addClass("removed"); // Add class to transition to transparent
                                                        },
                                                        5000); // Match the timeout with the transition duration
                                                }


                                                $(".chb_@item.id").prop('checked', false);
                                                $(this).prop('checked', true);

                                                @if (item.date.AddHours(-2) >= now)
                                                {
                                                    <text>UpdateStorage($(this).data("id"), this.value); </text>
                                                }
                                            } else {
                                                // If this checkbox is being unchecked, just uncheck it
                                                $(this).prop('checked', false);

                                                @if (item.date.AddHours(-2) >= now)
                                                {
                                                    <text>RemoveStorage($(this).data("id")); </text>
                                                }
                                            }


                                        });
                                    });
                                </script>
                            }
                            </tbody>
                        </table>
                    </div>
                }

                @*<h3>Sluttspill</h3>
                 <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Dato</th>
                                <th>Heimelag</th>
                                <th>H</th>
                                <th>U</th>
                                <th>B</th>
                                <th>Bortelag</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Where(m => m.gruppe == "sluttspill"))
                            {
                                //Debug.WriteLine($"Rounds Value: {item.round}");
                                <!-- Increment this from Round of 16 (1), quarter final (2), semi (3) to final(4) -->
                                if(item.round == 1)
                                {
                                    var active = "disabled";
                                    if (item.date.AddHours(-2) >= now) active = "";

                                    <tr>
                                        <td>@item.date.ToString("dd.MM HH:mm")</td>
                                        <td><img src="@item.HomeTeamLogoUrl" alt="Team Logo" width="16" height="16" id="HomeTeamLogo_@item.id">&nbsp;@item.homeTeam</td>
                                        <td class="center"><input type="checkbox" name="cb_@item.id" class="chb_@item.id" data-id="@item.id" value="H" @active /></td>
                                        <td class="center"><input type="checkbox" name="cb_@item.id" class="chb_@item.id" data-id="@item.id" value="U" @active /></td>
                                        <td class="center"><input type="checkbox" name="cb_@item.id" class="chb_@item.id" data-id="@item.id" value="B" @active /></td>
                                        <td><img src="@item.AwayTeamLogoUrl" alt="Team Logo" width="16" height="16" id="AwayTeamLogo_@item.id">&nbsp;@item.awayTeam</td>
                                    </tr>
                                    <script>
                                        $(function () {
                                            $(".chb_@item.id").change(function () {
                                                // If this checkbox is being checked, uncheck all others
                                                if ($(this).prop('checked')) {

                                                    var td = $(this).closest('td');
                                                    if (!td.hasClass("fade-green")) {
                                                        td.addClass("fade-green");

                                                        // Remove the class after the transition to fade back to original state
                                                        setTimeout(function () {
                                                            td.addClass("removed");  // Add class to transition to transparent
                                                        }, 5000); // Match the timeout with the transition duration
                                                    }


                                                    $(".chb_@item.id").prop('checked', false);
                                                    $(this).prop('checked', true);

                                        @if (item.date.AddHours(-2) >= now)
                                        {
                                            <text>UpdateStorage($(this).data("id"), this.value); </text>
                                        }
                                                                                                                                } else {
                                                    // If this checkbox is being unchecked, just uncheck it
                                                    $(this).prop('checked', false);

                                        @if (item.date.AddHours(-2) >= now)
                                        {
                                            <text>RemoveStorage($(this).data("id")); </text>
                                        }
                                                                                                                                }


                                            });
                                        });
                                    </script>

                                }    
                            }
                        </tbody>
                    </table>
                </div> *@
            }
        </div>
        <!-- Right Logo Column -->
        <div class="col-md-2 text-center">
            <img src="~/img/2026_FIFA_World_Cup_emblem.svg" alt="2026 FIFA World Cup Emblem" class="img-fluid" style="max-width: 100px; height: auto;" />
        </div>
    </div>
    <h4>SideBet</h4>
    <hr />
    @{
        var deadline = new DateTime(2024, 06, 14, 17, 00, 00);
        var disabled = DateTime.Now > deadline ? "disabled" : "";
    }
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Toppscorer" class="control-label">Toppscorar</label>
                <input asp-for="Toppscorer" class="form-control input_sidebet" id="Toppscorer" @disabled />
                <span asp-validation-for="Toppscorer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MostCards" class="control-label">Flest gule kort</label>
                <input asp-for="MostCards" class="form-control input_sidebet" id="Mostcards" @disabled />
                <span asp-validation-for="MostCards" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WinnerTeam" class="control-label">Vinnarlag</label>
                <input asp-for="WinnerTeam" class="form-control input_sidebet" id="Winnerteam" @disabled />
                <span asp-validation-for="WinnerTeam" class="text-danger"></span>
            </div>
            <input type="hidden" name="userId" id="UserId" />
            <br />
            <div class="spinner-border" role="status" id="loadingDiv">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="form-group"></div>
            <div class="form-group">
                @if (string.IsNullOrWhiteSpace(disabled))
                {
                    <text> <input type="submit" value="Lagre sidebet!" class="btn btn-primary" id="SideBetButton" /></text>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var bettings;
        var sideBettings;
        $(function () {
            GetCurrentUserBettings();
            GetCurrentUserSideBettings();
            $('#SideBetButton').click(function () {
                UpdateSideBets();
            });
        });

        $(document)
            .ajaxStart(function () {
                $('#loadingDiv').show();
            })
            .ajaxStop(function () {
                $('#loadingDiv').hide();
            });

        function UpdateStorage(id, value) {
            $.ajax({
                method: "POST",
                url: "/Home/UpdateStorage",
                data: { matchId: id, result: value }
            })
                .done(function (result) {
                    if (result.success) {
                        console.log(result.message);
                    }
                    else console.log(result.message);
                })
                .always(function () {
                    GetCurrentUserBettings();
                });
        }



        function UpdateSideBets() {
            $.ajax({
                method: "POST",
                url: "/Home/UpdateSideBets",
                data: {
                    'Toppscorer': $('#Toppscorer').val(),
                    'MostCards': $('#Mostcards').val(),
                    'WinnerTeam': $('#Winnerteam').val()
                }
            })
                .done(function (result) {
                    if (result.success) {
                        //legg inn popup eller toltip her?
                        console.log(result.message);

                        var td = $('.input_sidebet');
                        if (!td.hasClass("fade-green")) {
                            td.addClass("fade-green");

                            // Remove the class after the transition to fade back to original state
                            setTimeout(function () {
                                td.addClass("removed");  // Add class to transition to transparent
                            }, 5000); // Match the timeout with the transition duration
                        }
                        else if (td.hasClass("removed")) {
                            td.removeClass("removed");

                            // Remove the class after the transition to fade back to original state
                            setTimeout(function () {
                                td.addClass("removed");  // Add class to transition to transparent
                            }, 5000); // Match the timeout with the transition duration
                        }
                    }
                    else console.log(result.message);
                })
                .always(function () {

                });
        }

        function RemoveStorage(id) {
            $.ajax({
                method: "POST",
                url: "/Home/RemoveStorage",
                data: { id: id }
            })
                .done(function (result) {
                    if (result.success) {
                        console.log(result.message);
                    }
                    else console.log(result.message);
                })
                .always(function () {
                    GetCurrentUserBettings();
                });
        }

        function GetCurrentUserBettings() {
            $.ajax({
                method: "GET",
                url: "/Home/GetCurrentUserBettings",
                data: {}
            })
                .done(function (result) {
                    if (result.success) {
                        console.log(result.bettings);
                        bettings = result.bettings;
                    }
                    else {
                        console.log(result.message);
                    }
                }).always(function () {
                    UpdateBettingTable();
                });
        }

        function GetCurrentUserSideBettings() {
            $.ajax({
                method: "GET",
                url: "/Home/GetCurrentUserSideBettings",
                data: {}
            })
                .done(function (result) {
                    if (result.success) {
                        console.log(result.sideBettings);
                        $('#Toppscorer').val(result.sideBettings.toppscorer);
                        $('#Winnerteam').val(result.sideBettings.winnerTeam);
                        $('#Mostcards').val(result.sideBettings.mostCards);
                    }
                    else {
                        console.log(result.message);
                    }
                }).always(function () {
                    UpdateBettingTable();
                });
        }

        function UpdateBettingTable() {
            $.each(bettings, function (key, betting) {

                var checkbox = $("input[type='checkbox'][name='cb_" + betting.matchId + "'][value='" + betting.result + "']");

                // Check the checkbox if it exists
                if (checkbox.length) {
                    checkbox.prop('checked', true);
                }
            });
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}
